.loginContainer {
  width: 100vw;
  height: 100vh;
  background-color: #FDFFFC;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.loginHeaderContainer {
  width: 75%;
  height: 7%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
}
.loginHeaderButtonsContainer{
    width: 50%;
    height: 100%;
justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    margin-right: 5%;
}
.loginHeaderLogoContainer{
    height: 100%;
    width:20%
}
.logoImage{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.singleIconContainer{
    margin: 2%;
    height: 80%;
    width: 10%;
}
.singleIconImage{
    height: 50%;
    object-fit: contain;
    width: 100%;
}