.homeContainer {
  background-color: #262524;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBoxContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 95vh;
    justify-content: space-between;
}